.update-box{
    margin: 80px 0;
}
.update-box .update-container{
    margin: 0 10%;
    background-color: rgb(235, 243, 188);
}
.update-box .update-container button,
.update-box .update-container form button {
    margin: 10px;
}